<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWITCHBOT_CEILING_LIGHT_PRO</key>
	<string>$(SWITCHBOT_CEILING_LIGHT_PRO)</string>
	<key>SWITCHBOT_COLOR_BULB_DEVICE_ID</key>
	<string>$(SWITCHBOT_COLOR_BULB_DEVICE_ID)</string>
	<key>SWITCHBOT_SECRET</key>
	<string>$(SWITCHBOT_SECRET)</string>
	<key>SWITCHBOT_TOKEN</key>
	<string>$(SWITCHBOT_TOKEN)</string>
</dict>
</plist>
